.color-fondo{ background-color: rgb(255, 255, 255);}
.parrafo-comun{color:rgb(0, 0, 0); margin: 30px;}
#parrafo-especial{width: 50%;}
.contenedor {background-color: #85e7e2; position: sticky; top: 0px; padding: 9px; margin: 0px; display: flex; justify-content: space-between; align-items: center;}
#chiquito {width: 7%;}
.costado {position: sticky; top: 50%; right: 9px;}
#font {font-family: "serif"; font-size:large;}
.ordenar{display: flex; justify-content: center; display: flex; }
.centrar{justify-content: center; text-align: center;}
#navbar-color{background-color: #a52a2a; color: black;}
.btn {background-color: aquamarine !important;}
.btn{background-color: rgb(116, 54, 13);}
.my-4-ml-3{ margin-left: 15%}
.ordenar-img{justify-content: space-around;align-items: center; display: flex;}
.fin-de-pagina{background-color:#17c4c42d;}
.color-pag-contacto{background-color: #522bff2c;}
#color-obj{background-color: #479b9b63;}
#color-intro{background-color: azure;}

/* @media screen and (max-width: 767px) {
	body {
		background-color: red;
	}
} */

@media screen and (max-width: 1024px) {
	.color-fondo{
        background-color: lightgreen;
    }
}

/* @media screen and (max-width: 1023px) and (min-width: 768px) {
    body {
        background-color: rgb(176, 205, 250);
    }
} */
a:hover { 
	color: rgb(255, 0, 0)!important;
}

a:active {
    color:black!important;
}

a:visited {
    color:rgb(0, 0, 0);
}
p.mayuscula::first-letter {
    color: white;
    size: 20px;
}
h2::after {
    content: ":)"
}

