.html{
    overflow: scroll;
}
.color-fondo{ background-color: rgb(255, 255, 255);}
.parrafo-comun-intro{color:rgb(0, 0, 0);
    font-family: "serif";
    font-size: 1.5vw;
    background-color: rgb(255, 255, 255);}
.parrafo-comun-obj{
    color:rgb(0, 0, 0);
    font-family: "serif";
    font-size:1.5vw;
    background-color: #479b9b63;
}
/* .parrafo-comun-documentacion{color:rgb(0, 0, 0); font-family: "serif"; font-size:large; background-color: #3091ff65; margin-top: 0%; margin-bottom: 0%;} */
.parrafo-comun{color:rgb(0, 0, 0); font-family: "serif"; font-size:1.5vw;}
.margen{margin: 3%;}
#parrafo-especial{width: 50%;}
.contenedor {background-image: url(./Imagenes/moreno-con-montanas.jpg); background-size: 100% 100%; width: 100%; position: sticky !important; top: 0%; bottom: 0%; padding: 5%; padding-top: 1.5%; padding-bottom: 1.5%; margin: 0%; display: flex; justify-content: space-between; align-items: center; font-family: "serif"; font-size:x-large;}
#color-cont{color: #ffffff;}
#chiquito {width: 7%;}
.costado {position: sticky; top: 50%; right: 9%;}
.ordenar{display: flex; justify-content: space-evenly; display: flex; }
.centrar{justify-content: center; text-align: center;}
.centrar-footer{justify-content: center; text-align: center; font-size: 1.5vw;}
.centrar-navbar{justify-content: center; text-align: center;}
#navbar-color{background-color: #a52a2a; color: black;}
.btn {background-color: rgb(255, 255, 255) !important;}
.btn{background-color: rgb(116, 54, 13);}
.arriba{z-index: 100;position: sticky;top: 0;}
.my-4-ml-3{ margin-left: 15%}
.ordenar-img{justify-content: space-around;align-items: center; display: flex;}
.fin-de-pagina{background-color:#93cfcf; font-size: 2vw;}
.color-pag-contacto{background-color: #522bff2c;}

.contiener {
    padding: 100% 0;
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;}

.navbar {
    list-style-type: none;
    position: sticky;
    margin: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    overflow: hidden;
    background-color: #93cfcf!important;
    border-radius: 1%;
    justify-content: space-between;
    text-align: end;
    display: flex;
    align-items: center;
    font-family: "serif";
    font-size: 3vw;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__paragraph{
    margin-bottom: 0.5vw;
    font-size: 2.5vw;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 3vw;
    display: inline-block;
    font-weight: 200;
}

.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}

.offcanvas{
    background-color: #17c4c4;
    font-size: 2vw;
}

.underline{
    text-decoration: none;
}

#btn-enviar{
    background-color: #36b3e4 !important;
}

.titulo {
    color: #09338fc6;
    font-size: 30%;
    text-align: center;
    margin-bottom: 60%;}

.galeria_port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen_port {
    width: 5%;
    margin-bottom: 0.5vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    }

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(186, 139, 52, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagina_contacto{
    justify-content: center;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
a:active {
    color:black!important;
}

a:visited {
    color:rgb(0, 0, 0);
}

.portafolio{
    background: #ffffff;
    margin-top: 1%;
    padding-top: 1%;
}

.galeria-port{
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #36b3e4c4;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50%;
}

.hover-galeria p{
    color: rgb(0, 0, 0);
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 10px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
    background-color: #ffffff;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 1.5vw;
    padding: 30px 0 30px;
    cursor: pointer;
    color: #001A49;
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: #001A49;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.tamano{
    height: auto;
}

@media only screen and (min-width: 1024px){
    .parrafo-comun-intro{
        font-size: 1.5vw;
    }
    .parrafo-comun-obj{
        font-size: 1.5vw;
    }
    #color-cont {
        font-size: 3vw;
    }
    .questions__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        }
    .offcanvas{
        background-color: #17c4c4;
        font-size: 3vw;
    }
    .questions__title{
        display: flex;
        flex-direction: column;
        font-size: 3vw
    }
    .questions__show{
        font-size: 2vw;
    }
    .fin-de-pagina{
        font-size: 2vw;
    }
    .centrar{
        margin: 1vw;
        padding: 1vw;
        font-size: 3vw;
    }
    .centrar-footer{
        margin: 1vw;
        font-size: 1vw;
        padding: 1vw;
    }
    .centrar-navbar{
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    }
    .hover-galeria{
        font-size: 3vw;
    }
    .modal__paragraph{
        font-size: 1.21vw;
    }
}

@media (max-width: 480px) {
    .html{
        overflow: scroll;
        height: 150px;
    }
    .tamano{
        height: 150px;
    }
    .pagina_contacto {
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    font-size: 3px
    }
    .parrafo-comun-intro {
    width: 100%;
    font-size: 3px;
    }
    .parrafo-comun-obj {
    width:100%;
    font-size: 3px;
    }
    #color-cont {
    font-size: 30px;
    }
    .contenedor {
    padding-top: 5%;
    padding-bottom: 5%;
    }
    .navbar {
    padding-top: 2%;
    padding-bottom: 2%;
    }
    .offcanvas {
    background-color: #17c4c4;
    font-size: 39px !important;
    }
    .centrar {
    font-size: 39px;
    }
    .questions__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 33px;
    }
    .questions__title {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    }
    .questions__show {
    font-size: 36px;
    }
    .fin-de-pagina {
    font-size: 30px;
    }
    .centrar-footer {
    margin: 21px;
    font-size: 21px;
    padding: 15px;
    }
    .galeria-port {
    width: 100%;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    place-items: center;
    margin-top: 1%;
    padding-top: 1%;
    }
    .hover-galeria {
    font-size: 27px;
    }
    .modal {
    width: 100%
    }
    .modal__container {
    width: 90%;
    max-width: 1000px;
    max-height: 100%;
    }
    .modal__paragraph{
        font-size: 2.50px;
    }
/*     .modal__container{
        width: 90%;
        max-width: 1000px;
        max-height: 100%;
    }
    .modal__paragraph{
        font-size: 2.50vw;
    } */
}

/* 
@media (min-width:625px) and (max-width: 767px){
    .parrafo-comun-intro{
        font-size: 4vw;
    }
    .parrafo-comun-obj{
        font-size: 4vw;
    }
    .offcanvas{
        background-color: #17c4c4;
        font-size: 5vw;
    }
    .centrar{
        font-size: 5vw;
    }
    .questions__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        }
    .questions__title{
        display: flex;
        flex-direction: column;
        font-size: 4vw;
    }
    .questions__show{
        font-size: 4vw;
    }
    .fin-de-pagina{
        font-size: 3vw;
    }
    .centrar-footer{
        margin: 2vw;
        font-size: 3vw;
        padding: 2vw;
    }
    .galeria-port{
        width: 100%;
        margin-top: 1%;
        padding-top: 1%;
    }
    .hover-galeria{
        font-size: 3vw;
    }
    .modal{
        width:100%
    }
    .modal__paragraph{
        font-size: 3vw;
    }
    } */
/* 
@media (min-width:480px) and (max-width:624px) {
    .parrafo-comun-intro{
        font-size: 6vw;
    }
    .parrafo-comun-obj{
        font-size: 6vw;
    }
    #color-cont{
        font-size: 7vw;
    }
    .contenedor{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .navbar{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .offcanvas{
        background-color: #17c4c4;
        font-size: 6vw !important;
    }
    .centrar{
        font-size: 6vw;
    }
    .questions__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 5vw;
        }
    .questions__title{
        display: flex;
        flex-direction: column;
        font-size: 5.5vw;
    }
    .questions__show{
        font-size: 5.5vw;
    }
    .fin-de-pagina{
        font-size: 4vw;
    }
    .centrar-footer{
        margin: 3vw;
        font-size: 3vw;
        padding: 2vw;
    }
    .galeria-port{
        width: 100%;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        place-items: center;
        margin-top: 1%;
        padding-top: 1%;
    }
    .hover-galeria{
        font-size: 4vw;
    }
    .modal{
        width:100%
    }
    .modal__container{
        width: 90%;
        max-width: 1000px;
        max-height: 100%;
    }
    .modal__paragraph{
        font-size: 2.25vw;
    }
    .pagina_contacto{
        width: 100%;
        height: 100vh;
    }
} */